
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="<%= asset_url('loading.gif')%>" alt="#" /></div>
      </div>
      <!-- end loader --> 
      <!-- header -->
       <header>
         <!-- header inner -->
         <div class="header">
            <div class="head_top">
               <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <div class="top-box">
                        <ul class="sociel_link">
                         <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <div class="top-box">
                        <p>long established fact that a reader will be </p>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="index.html"><img src="<%= asset_url('logo.png')%>" alt="logo"/></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                           <li> 
                              <div class="dropdown">
                               <button class="dropbtn">Product</button>
                               <div class="dropdown-content">
                                 <a href="<%= product_add_url %>">Add Product</a>
                                 <a href="<%= product_edit_url %>">Edit Product</a>
                                 <a href="<%= product_view_url %>">View Product</a>
                                 <a href="<%= product_location_url %>">Add Location</a>

                              </div>
                              </div>
                           </li>
                           <li> 
                              <div class="dropdown">
                               <button class="dropbtn">Customer</button>
                               <div class="dropdown-content">
                                 <a href="<%= customer_add_url %>">Add Customer</a> 
                                 <a href="<%= customer_view_url %>">View Customer</a>
                              </div>
                              </div>
                           </li>

                              <li> <a href="<%= payment_view_url %>">Transactions</a> </li>
                              <li> <div class="dropdown">
                               <button class="dropbtn">Discount</button>
                               <div class="dropdown-content">
                                 <a href="<%= product_adddiscount_url %>">Add Discount</a> 
                                 <a href="<%= product_removediscount_url %>">Remove Discount</a>
                              </div>
                              </div>
                           </li>
                              <li> <a href="">Store</a> </li>
                              
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                  <li><a class="buy" href="<%= user_login_url %>">Logout</a></li>
               </div>
            </div>
         </div>
         <!-- end header inner --> 
      </header>
      <!-- end header -->
      <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Product Location</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                      <%= form_for :product ,:url => product_item_location_url   ,:html => {class: "main_form product",:remote =>true},method:"post" do |f|%>
                         <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                 <%= f.text_field :name,:class=>"form-control", :placeholder=>"Product Name", :type=>"text" %>
                            </div>
                            
                          </div>
                           <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                 <%= f.text_field :category,:class=>"form-control", :placeholder=>"Product Category", :type=>"text" %>
                                 
                            </div> 
                             </div>
                           <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                               <%= f.text_field :floor,:class=>"form-control", :placeholder=>"Floor Number", :type=>"number" %>
                            </div>
                             </div>
                        <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                 <%= f.text_field :startrow,:class=>"form-control", :placeholder=>"Product Start Row", :type=>"number" %>
                            </div>
                             </div>

                             <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <%= f.text_field :endrow,:class=>"form-control", :placeholder=>"Product End Row", :type=>"number" %>
                            </div>
                             </div>
                             <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                 <%= f.text_field :startcolumn,:class=>"form-control", :placeholder=>"Product Start Column", :type=>"number" %>
                            </div>
                             </div>
                        <div class="row justify-content-center" >
                            <div class="col-md-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <%= f.text_field :endcolumn,:class=>"form-control", :placeholder=>"Product End Column", :type=>"number" %>
                            </div> 
                            <div class=" col-md-12">
                                <button class="send">Set Location</button>
                            </div>
                        </div>
                   <% end %>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
      <!--  footer --> 
      <footr>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <ul class="sociel">
                         <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                  </div>
            </div> 
         </div>
            <div class="copyright">
              
            </div>
         
      </div>
      </footr>