
   <body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="<%= asset_url('loading.gif')%>" alt="#" /></div>
   </div>
   <!-- end loader --> 
   <!-- header -->
    <header>
      <!-- header inner -->
      <div class="header">
         <div class="head_top">
            <div class="container">
               <div class="row">
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="top-box">
                     <ul class="sociel_link">
                      <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                      <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                 </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="top-box">
                     <p>long established fact that a reader will be </p>
                 </div>
               </div>
            </div>
         </div>
      </div>
    
      <div class="container">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo"> <a href="index.html"><img src="<%= asset_url('logo.png')%>" alt="logo"/></a> </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
               <div class="menu-area">
                  <div class="limit-box">
                     <nav class="main-menu">
                        <ul class="menu-area-main">
                        <li> 
                           <div class="dropdown">
                            <button class="dropbtn">Product</button>
                            <div class="dropdown-content">
                              <a href="<%= product_add_url %>">Add Product</a>
                              <a href="<%= product_edit_url %>">Edit Product</a>
                              <a href="<%= product_view_url %>">View Product</a>
                              <a href="<%= product_location_url %>">Add Location</a>

                           </div>
                           </div>
                        </li>
                        <li> 
                           <div class="dropdown">
                            <button class="dropbtn">Customer</button>
                            <div class="dropdown-content">
                              <a href="<%= customer_add_url %>">Add Customer</a> 
                              <a href="<%= customer_view_url %>">View Customer</a>
                           </div>
                           </div>
                        </li>

                           <li> <a href="<%= payment_view_url %>">Transactions</a> </li>
                           <li> <div class="dropdown">
                            <button class="dropbtn">Discount</button>
                            <div class="dropdown-content">
                              <a href="<%= product_adddiscount_url %>">Add Discount</a> 
                              <a href="<%= product_removediscount_url %>">Remove Discount</a>
                           </div>
                           </div>
                        </li>
                           <li> <a href="<%= product_location_predicator_url %>">Store</a> </li>
                           
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
               <li><a class="buy" href="<%= user_login_url %>">Logout</a></li>
            </div>
         </div>
      </div>
      <!-- end header inner --> 
   </header>
   <!-- end header -->
   <div class="brand_color">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="titlepage">
                     <h2>Stock Detail</h2>
                 </div>
             </div>
         </div>
     </div>
 </div> 
 <div>
     <div class="container" style="padding:20px">
         <div class="row">
             <div class="col-md-12">
                 <div class="titlepage" >
                     <h2 class="text-center" style="font-size:30px !important" >Products Detail</h2>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- contact -->
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100" style="margin-left:-100px">
<div class="table100 ver1 m-b-110"> 
       <div class="table100-body js-pscroll">
         <table>
            <thead>
             <tr class="row100 head">
               <th class="cell100 column1">Product Set</th>
                 <th class="cell100 column2">Confidence</th>
             </tr>
           </thead>
           <tbody> 
                 <% @product_hash.each do |product_set,confidence| %>
                <tr class="row100 body">
                  <%  @left_products=product_set.split("=>")[0].split(",") 
                      @right_products=product_set.split("=>")[1].split(",")
                  %>
                        
                  <td class="cell100 column1"> 
                  <% @left_products.each do |lp|%>
                     <%= get_product_name(lp) %> 
                  <% end %>    
                  =>
                  <% @right_products.each do |lp|%>
                     <%= get_product_name(lp) %> 
                  <% end %>    
                  
                  </td> 
                  <td class="cell100 column2"><%=confidence%></td>
                  
                  
                  </tr>   
                 <%end%>
      
           </tbody>
         </table>
       </div>
     </div>
     </div>
 </div>
</div>  



 <!-- end contact -->
   <!--  footer --> 
 <footr>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <ul class="sociel">
                      <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                      <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
         </div> 
      </div>
         <div class="copyright">
           
         </div>
      
   </div>
   </footr>